body
{
    margin:0;
    padding:0;
    background-size: 100%;
    font-family:Arial,sans-serif;
    color:#333333;
    background-color: #FCFCFC;
    background-repeat: no-repeat;  }

#vis {
    min-height: 550px;
}


#blurb {
    height: 60px;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

path {
    stroke: #999999;
    stroke-width: 1.5;
    fill: none;
}

path.current,path.highlight.current {
    stroke: black;
    stroke-width: 2.2;
}

path.selected{
    stroke: red !important;
    stroke-width: 3.5 !important;
}

.highlight {
    stroke-width: 1.5px;
}

line {
    stroke: black;
}

text {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
}

.axis {
    stroke-width: 0.8;
    stroke: #000;
}

.xTicks,.yTicks {
    stroke-width: 0.6;
    stroke: #000;
}

#cite {
    font-size: 0.8em;
    text-align: right;
    margin-top: 10px;
    padding-bottom: 20px;
}

#cite a {
    background: #e2e2e2;
    text-decoration: none;
    color: #821122;
}

.yLabel{
    display: inline-block;
    position: relative;
    left: -100px;
}

.clickable{
    cursor: pointer;
}

.cursorDefault{
  cursor: default;
}

.materialSelect{
    width: 10em;
    float:right;
}

.wrapper
{
    width:960px;
    margin:0 auto;
    border:1px solid #ff6600;
    height:800px;
}

.page-header
{
    margin-top:0;
}

.page-header span
{
    margin:0 auto;
    display: block;
    font-style: italic;
    font-family: "Georgia", Arial, sans-serif;

}

.page-header h1
{
    margin:0;
    padding:0;
}

.btn
{
    background-color:#b6c8e0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:#666;
}

h1,h2,h3,h4
{
    font-family: "Open Sans", Arial,sans-serif;
    color: #000;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

p
{
  text-align: justify;

}

.circle 
{
    border-radius: 50%;
    width: 40px;
    height:40px;
    float:left;
    color:#fff;
    text-align: center;
    clear:both;
    margin-right:
    5px;
    margin-bottom:5px;
    line-height: 30px;
    font-size: 0;
    float:left;
    

}

.circle span
{
  margin-top:5px;
  display: inline-block
}
#filters li .info
{
    float: left;
    margin-left: 5px;
    margin-top: 9px;
    text-align: left;
    width: 220px;
}

.source-title
{
  margin-top: 0px;
  font-family: "Georgia", Arial, sans;
  color:#666;
  cursor: default;
  font-size: 16px;


}

.toggleDisplay span{
  display: block;
  font-size: 12px;
}

.toggleDisplay{
  display: none;
}

.circle:hover, .circleDeSelected
{
    border-width:3px;
    line-height: 25px;
    border-style: double;
    background-image:none;
    font-size:11px;
    border-color: #fff;
}

.INS.highlight {
    stroke:#40a4d8;
}

.INS-default
{
  background-image: url("../images/INS.png");
}
.INS-default:hover, .INS
{
    border-color: #40a4d8;
    color:#40a4d8;
    background-image: none;
    background-color: #fff

}
.INS-title:hover
{
  color:#40a4d8;
}

.NIS.highlight {
    stroke:#33beb7;
}

.NIS-default
{
    background-image: url("../images/NIS.png");
}
.NIS-default:hover, .NIS
{
    border-color: #33beb7;
    color:#33beb7;
    background-image: none;
    background-color: #fff
    
}
.NIS-title:hover
{
  color:#33beb7;
}


.OPS.highlight {
    stroke:#FED34C;
}

.OPS-default
{
     background-image: url("../images/OPS.png");
}

.OPS-default:hover, .OPS
{
    border-color: #FED34C;
    color: #FED34C;
    background-image: none;
    background-color: #fff;
    
}
.OPS-title:hover
{
   color: #FED34C;
}


.MOS.highlight {
    stroke: #a364d9;
}

.MOS-default
{
    background-image: url("../images/MOS.png");
}
.MOS-default:hover, .MOS
{
    border-color: #a364d9;
    color:#a364d9;
    background-image: none;
    background-color: #fff;
    
}
.MOS-title:hover
{
   color:#a364d9;
}

.INCS.highlight {
    stroke: #ee6579;
}
.INCS-default
{
    background-image: url("../images/INCS.png");
}
.INCS-default:hover,.INCS
{
    border-color: #ee6579;
    color: #ee6579;
    background-image: none;
    background-color: #fff;
}

.INCS-title:hover
{
   color: #ee6579;
}

.NAS.highlight {
    stroke: #99cc33;

}

.NAS-default
{
     background-image: url("../images/NAS.png");
}
.NAS-default:hover,.NAS
{
    border-color:#99cc33;
    color:#99cc33;
    background-image: none;
    background-color: #fff
   
}

.MIS.highlight {
    stroke: #99cc33;
}
.MIS-default
{
    background-image: url("../images/MIS.png");
}
.MIS-default:hover, .MIS
{
    border-color:#99cc33;
    color:#99cc33;
    background-color:#fff;
    background-image: none;
}
.MIS-title:hover
{
   color:#99cc33;
}

/**************** legend ul styling ********************/
#filters
{
  margin:50px 0 0 0;
  padding:0;
  list-style-type: none;
}

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: auto;
  height: auto;
  margin:  0 0 8px 0;
  padding-bottom:8px;
  overflow: auto;
}
.ch-grid li:last-child
{
  border-bottom:none;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-back span {
  margin-top:8px;
  display:inline-block;
  
  }

.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-40px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-40px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-40px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-40px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-40px) rotate3d(1,0,0,90deg);
  opacity: 0;
  background-color: #fff;
  border-width:2px;
  border-style:solid;
  margin-top:10px;

}

.ch-info .INS
{
  color: #40a4d8;
  border-color:#3d99c9;
}


.ch-img-1 { 
  background-image: url(../images/INS.png);
}

.ch-img-2 { 
  background-image: url(../images/20.jpg);
}

.ch-img-3 { 
  background-image: url(../images/21.jpg);
}


.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,55px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,55px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,55px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,55px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,55px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}



/******************************************************/
.footer
{
    padding:10px;
    border-top:1px solid #ccc;
    text-align: right;
}

a 
{
    color:#105D6D;
}

/*ifeanyi's additions here */
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;

}

.axis text {
    fill: #555;
    font-size: 11px;
    stroke:none;
}

.axis line {	
    stroke: #000;
    shape-rendering: crispEdges;  
} 

.axis {
    font-size: 12px;
}

.axis-label {
    margin-right: 5px;
    font-size: 11px;
}

div.tooltip {
    position: absolute;	
    text-align: center;	
    width: auto;	
    height: auto;		
    padding: 5px;
    color: #fff;
    font: 14px sans-serif;	
    background: black;	
    border: 0px;					
    border-radius: 5px;  
}

#colorCodedMap {
    display:block;
    margin-top:-70px !important;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

#page-title
{
    float:left;
    margin-right:10px;
}

.logo
{
    float:left; 
    margin-right:10px;
}

.main-title
{
    float:left;
}

.title-blurb
{
    clear:both; 
    margin-left:55px;
}


.form-control
{
  display:inline;
  margin:0;
  width: 16em;
}

.materialSelect
{
  width:345px;
  margin-top:20px;
}

.materialSelect span
{
  font-family: "Georgia", Sans;
  font-style:italic;
  margin-left:10px;
  display: inline-block;
}

.inlineTruckImg{
  width: 24px;
}

#infoBox
{
  height: 530px;
}


/********************* material colors ***********************/
#barChart circle
{
  fill:#CC0000;
  text-transform: uppercase;
}

#barChart rect
{
  fill:#ffd891;

}
#barChart rect#pm25, #barChart circle#pm25
{
  fill:#336600;
  color:#fff;
}

#barChart rect#pm10, #barChart circle#pm10
{
  fill:#CC0000;
  color:#fff;
}

#barChart rect#SOx, #barChart circle#SOx
{
  fill:#003366;
  color:#fff;
}

#barChart rect#voc, #barChart circle#voc
{
  fill:#660033;
  color:#fff;
}

#barChart rect#tpm, #barChart circle#tpm
{
  fill:#009999;
  color:#fff;
}

#barChart text
{
  margin-bottom: 5px;
  color:#fff;
  font-size: 12px;
}

#barChart text.text-title
{
  text-transform: uppercase;
}